.header {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 30px;
    height: 5%;
    background-color: #fff;
    font-weight: 600;
    color: #1A181E;
    font-size: 15px;
    line-height: 16px;
    border-bottom: 1px solid #e4dbdb;
}

.left-arrow-logo {
    height: 20px;
    cursor: pointer;
}